body {
	/* overflow:hidden;  */		/* needed to eliminate scrollbars caused by the background image */
	overflow-x: hidden;
	padding:0;margin:0;		/* necesarry for the raster to fill the screen */
	height:100%;width:100%;
	background:white;
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
body{text-align: center;background:rgb(40,40,40);}
/* #wholescreen{width:100%;height:100%; position:absolute; margin:0px; padding: 0px;} */

#position{color:black; position:absolute; left:0px;top:10px; z-index: 350;
color:white;}   


.clearBlack{
background:rgba(0,0,0,.4);
position:absolute;
bottom:0px;
height:100px;
width:100%;
z-index: 50;
display:none;
}
.leftname{	
					/* Place the new body above the background image */
				/* restore scrollbars for the content */
		/* Make the new body fill the screen */
	background: url('../img/raster.png'); /* this is just a fancy raster, you can remove it; I kinda like it though */
	margin:0px;
	border:0px; }
.rightname{				/* Place the new body above the background image */
	 			/* restore scrollbars for the content */
		/* Make the new body fill the screen */
	background: url('../img/raster.png'); /* this is just a fancy raster, you can remove it; I kinda like it though */
	
	margin:0px;
	border:0px;}


.name{color:white;font-family:"Helvetica Neue"; font-size:40px; font-weight:lighter; display:block; }
.leftalign{text-align:left; padding-left: 20px;}
.rightalign{text-align: right; padding-right: 20px;}

.leftImg {
	position:absolute;
	z-index: -1;
	margin:0px;
	border:0px;
	
}

.rightImg {
	position:absolute;
	z-index: -1;
	margin:0px;
	border:0px;
	
}

.left{
	position:absolute;
	z-index: 5;				/* Place the new body above the background image */
	overflow:hidden; 			/* restore scrollbars for the content */
	height:100%;width:50%;	/* Make the new body fill the screen */
	background: url('../img/raster.png'); /* this is just a fancy raster, you can remove it; I kinda like it though */
	margin:0px;
	border:0px;
	
}

.right{
	position:absolute;
	z-index: 5;				/* Place the new body above the background image */
	overflow:hidden; 			/* restore scrollbars for the content */
	height:100%;width:50%;	/* Make the new body fill the screen */
	background: url('../img/raster.png'); /* this is just a fancy raster, you can remove it; I kinda like it though */
	left: 50%;
	margin:0px;
	border:0px;
}

.leftMoreDiv{position:absolute; width:0px;height:100%;display:block;;background:rgba(0,0,0,.8);z-index: 75; left:0px;}

/* background: url('../img/raster.png'); */


.rightMoreDiv{position:absolute; width:0px; height:100%; display:block;  background:rgba(0,0,0,.8);z-index: 75;right:0px;    
/* background: url('../img/landscape2.jpg'); background-position:fixed; background-size: cover; */
}


.moreInfo{display:block; position:absolute; top:-40px; height:100%; z-index:400; padding:40px;padding-top:0px; position:absolute;background: url('../img/raster.png'); }

.leftMoreInfo{ right:0px; text-align:left; margin-right:130px; }
.rightMoreInfo{left:0px;  text-align:right; margin-left:130px;}





.moreInfo p{color:white;z-index:450; width:350px;font-family: "Helvetica Neue"; font-size:14px; font-weight:lighter; line-height: 2em; margin-top:100px; /* background: rgba(0,0,0,0.5); */}


#volumeControl{
position:fixed;
display:block;
top:43px;
right:20px;
z-index:100;
margin-top:-23px;
margin-left:-40px;
background: rgba(0,0,0,.3);   
width: 40px;
height: 40px;
border-radius: 50%;
z-index:3000;
cursor:pointer;
}
#volumeControl:hover{background: rgba(0,0,0,.4); 	
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	transition: background 0.2s linear;}
#volumeControl p{
font-size:10px;
margin-top:13px;
color:white;
font-family: "Helvetica"
}

#line {
   position: absolute;
   background:rgba(0,0,0,1);
   height: 100%;
   width: 20px;
   cursor:/* pointer */ col-resize;
   top: 0px;
   left:50%;
   z-index:102;
   margin-left:-9px;
   margin-top:500px;
   opacity:1;
}

.moveLine{
	
	position:fixed;
	top:210px;
	display:none;
	left:50%;
	z-index:100;
	cursor: /* pointer */ col-resize;
}

/*


.arrows{
	width: 0px;
	height: 0px;
	border-style: solid;
	z-index:-1;
	-webkit-transform:rotate(360deg);
}

.arrow-right {
border-width: 17px 0 17px 28px;
border-color: transparent transparent transparent rgba(255,255,255,1);
margin-left:7px;

}

.arrow-left {
border-width: 17px 28px 17px 0;
border-color: transparent rgba(255,255,255,1) transparent transparent;
margin-left:-32px;
margin-top:-33px;
}*/

.circle {position:absolute;
	margin-top:-23px;
	margin-left:-140px;
    background: rgba(0,0,0,.5);   
    width: 280px;
    height: 80px;
    border-radius: 50px;
    z-index:103;
	color:#FFF;
}

/*
.circle {position:fixed;
	margin-top:-23px;
	margin-left:-40px;
    background: rgba(0,0,0,.5);   
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index:-2;
}*/

.arrows{
	width: 0px;
	height: 0px;
	border-style: solid;
	z-index:104;
	-webkit-transform:rotate(360deg);
}

.arrow-right {
border-width: 17px 0 17px 28px;
border-color: transparent transparent transparent rgba(255,255,255,1);
margin-left:95px;

}

.arrow-left {
border-width: 17px 28px 17px 0;
border-color: transparent rgba(255,255,255,1) transparent transparent;
margin-left:-122px;
margin-top:-33px;
}


.arrow-down {
		width: 0px;
	height: 0px;
	border-style: solid;
	z-index:101;
	-webkit-transform:rotate(360deg);
border-width: 20px 34px 19px 0;
border-color: transparent rgba(255,255,255,.5) transparent transparent;
margin-left:6px;
margin-top:4px;
z-index: 5001;
transform: rotate(30deg);
-ms-transform: rotate(30deg); /* IE 9 */
-webkit-transform: rotate(30deg); /* Safari and Chrome */
}




#video_div1{position:absolute; display:block;width:100%;height:2400px; margin-left:0px;margin-right:0px;top:0px;

z-index:2000;
}

#introDiv{display:block; position:absolute; top:0px;left:0px;height:1000px; width:100%;}
.landscape{display:block; width:100%; height:100%; position:absolute;background:black;/* z-index:999; */}
.conflict{display:block; width:100%;height:100%; position:absolute; margin:0px; padding: 0px;}
#conflict1{top:3000px; }
#landscape1{top:4000px; background-image:url('../img/landscape1.jpg'); background-repeat: no-repeat; background-position: 50% 50%; background-size:100% 100%;}
#conflict2{top:5000px;}
#landscape2{top:6000px; background-image:url('../img/landscape2.jpg');background-position: 50% 50%;background-size:100% 100%;}
#conflict3{top:7000px;}
#landscape3{top:8000px; background-image:url('../img/landscape3.jpg');background-position: 50% 50%;background-size:100% 100%;}










#footer{/* display:block;  */
	background:black; 
	position: absolute;
   /*  bottom: 0; */
    width: 100%;
    height: 100px;
    margin: 0 auto;
    z-index:100000000;
    top:9200px;


}
#footer p{color:#999; font-family: "Helvetica Neue"; font-size: 14px; font-weight: lighter; margin-top:40px;letter-spacing:.1em; text-align: left; margin-left:20px;}
#footer p a{color:white; text-decoration:none; cursor:pointer;}
#footer p a:hover{text-decoration:underline;}
#footer img{position:relative;float:right;margin-top:-30px; margin-right:50px;}


.downarrow{font-size:40px;
font-weight:bold;
color:white;
margin-top:-30px;
}

/* h2.fighterName{font-size:15px; display:block; height:20px;} */


#muteButtonImg{margin-top:11px; 
width:20px;
opacity:0.4;
filter:alpha(opacity=40);
z-index: 900000; /* For IE8 and earlier */
}


#intro-video{z-index: 102;
width:100%;
height:auto;
display:block;
/* background:black; */
position:absolute;
top:0px;
left:0px;
margin:0px;
padding:0px;

}


.socialShare{display:block; float:right; margin-right:50px; margin-top:-40px;}
.socialShare a{margin:13px;}

.fightername{display:block; font-size:18px; color:white; margin-top:15px; margin-bottom:-25px;}
.nameleft{text-align:left; margin-left:35px;}
.nameright{text-align:right; margin-right:35px;}